<!DOCTYPE html>
<html>
  <head>
    <title>My Webpage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
  </head>
  <body>
    <header>
      <h1>Welcome to Brandon's Webpage</h1>
    </header>

    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="aspirations.php">Aspirations</a></li>
        <li><a href="finance.php">Finance</a></li>
      </ul>
    </nav>

    <main></main>

    <footer>
      <p>&copy; 2023 My Webpage</p>
    </footer>
  </body>
</html>
