<!DOCTYPE html>
<html>
  <head>
    <title>My Webpage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </head>
  <body>
    <header>
      <h1>Finance</h1>
    </header>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="aspirations.html">Aspirations</a></li>
	<li><a href="budget.html">Budget</a></li>
        <li><a href="finance.html">Finance</a></li>
      </ul>
    </nav>

    <body>
      <br><br>
      <table class="table" id="test">
        <tr>
          <th>#</th>
          <th style="width:7%">Date</th>
          <th>BoA Checkings</th>
          <th>BoA Savings (Vacation)</th>
          <th>BoA Savings Apt./Rainy</th>
          <th>BoA Credit</th>
          <th>BoA Statement</th>
          <th>Amex Credit</th>
          <th>Amex Statement</th>
          <th>Capital One Venture X</th>
          <th>Venture X Statement</th>
          <th>Capital One Savor</th>
          <th>Savor Statement</th>
          <th>Total Credit Debt</th>
	  <th>Total Amount</th>
          <th>Etrade</th>
    </tr>
    <!-- here is a for-loop to give us all the data -->	
    
    {% for value in data %}
    <tr>
      <td>{{ value.id }}</td>
      <td>{{ value.date }}</td>
      <td>${{ value.boa_checking }}</td>
      <td>${{ value.boa_savings_vacation }}</td>
      <td>${{ value.boa_savings_apt }}</td>
      <td>${{ value.boa_credit }}</td>
      <td>${{ value.boa_statement }}</td>
      <td>${{ value.amex_credit }}</td>
      <td>${{ value.amex_statement }}</td>
      <td>${{ value.capital_one_venture_x }}</td>
      <td>${{ value.capital_one_venture_x_statement }}</td>
      <td>${{ value.capital_one_savor }}</td>
      <td>${{ value.capital_one_savor_statement }}</td>
      <td>${{ value.total_credit_debt }}</td>
      <td>${{ value.total_amount }}</td>
      <td>${{ value.etrade }}</td>
    </tr>
    {% endfor %}
	</table>
 <br><br>
  <button onclick="addCode()">Update</button><br>
    <footer>
      <p>&copy; 2023 My Webpage</p>
    </footer>
  </body>
</html>
